/* About Section */
#about {
  padding: 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#about .about-text {
  margin-left: 10px;
  text-align: center;
}
#about img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: inline-block;
}
#about p {
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 22px;
}

.about-sectiongrids {
  padding: 40px 0px;
}

/* polls */
.polls {
  padding: 10px 0;
}
.poll-desc {
  float: left;
}
.poll-desc h4 {
  font-size: 17px;
  color: #2a404e;
  font-weight: bold;
  text-transform: uppercase;
}
/* polls */

/* percentage  */
.percentage {
  float: right;
  margin-right: 26%;
}
.percentage p {
  font-size: 17px;
  color: #4e2c2a;
  font-weight: bold;
}
/* Percentage  */
/*******************************/
/******* SKills CSS ********/
/*******************************/
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body{
  background-color: #0a7aca;
}
.wrapper{
 display: flex;
 justify-content: space-around;
}
.container{
  width: 10%;
  padding: 30px 30px 50px;
  background-color: white;
  border: 2px solid rgba(255,255,255,0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
} 
.container *{
  font-family: "Poppins",sans-serif;
  color: black;
  font-weight: 500;
}
h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}
.skills:not(:last-child){
  margin-bottom: 30px;
}
.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;

  border: 2px solid #0d96e0;

  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
 

}
#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 90%;
  }
}
#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 75%;
  }
}
#js-bar{
  animation: js-fill 2s forwards;
}

@keyframes js-fill {
  100%{
      width: 72%;
  }
}
#python-bar{
  animation: js-fill 2s forwards;
}

@keyframes js-fill {
  100%{
      width: 72%;
  }
}

#jQuery-bar{
  animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
  100%{
      width: 58%;
  }
} 


/*******************************/
/******* SKills CSS ********/
/*******************************/

/*******************************/
/******* Experience CSS ********/
/*******************************/
/* #education-title .{
  width: 70%;
} */
#education-title h1{
  margin-left: 50px;
}
.experience {
    position: relative;
    padding: 0px 0 0px 0;
}

.experience .timeline {
    position: relative;
    width: 80%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #45489a;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 50%;
    margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

.experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #45489a;
    border-radius: 16px;
    z-index: 1;
}

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #45489a;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left::after, 
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    
    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
}
/*******************************/
/******* Experience CSS ********/
/*******************************/


/* Media qu */
@media (max-width: 800px) {
  .about-sectiongrids {
    padding: 25px 0px;
  }
}

@media (max-width: 320px) {
  .about-sectiongrids {
    padding: 15px 0px;
  }
}

@media (max-width: 1024px) {
    .percentage p {
        font-size: 16px;
      }
}

@media (max-width: 640px) {
    .percentage p {
        font-size: 15px;
      }
}

@media (max-width: 480px) {
    .percentage p {
        font-size: 14px;
      }
}
@media (max-width: 320px) {
    .percentage p {
        font-size: 13px;
      }
}
/* Media qu */
